@using personapi_dotnet.Models.Entities
@model List<Persona>

<h1>Personas</h1>

<a asp-action="Register">Registrar persona</a>

<table>
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Genero</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => persona.Cc)</td>
                <td>@Html.DisplayFor(m => persona.Nombre)</td>
                <td>@Html.DisplayFor(m => persona.Apellido)</td>
                <td>@Html.DisplayFor(m => persona.Genero)</td>
                <td>@Html.DisplayFor(m => persona.Edad)</td>
            </tr>
        }
    </tbody>
</table>